{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Edit User</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.first_name.label_tag }} {{ form.first_name }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label_tag }} {{ form.last_name }}
        </div>
        <div class="mb-3">
            {{ form.phone_number.label_tag }} {{ form.phone_number }}
        </div>
        <div class="mb-3" id="gender-field">
            {{ form.gender.label_tag }} {{ form.gender }}
        </div>
        <div class="mb-3" id="specialization-field">
            {{ form.specialization.label_tag }} {{ form.specialization }}
        </div>
        <div class="mb-3">
            {{ form.password1.label_tag }} {{ form.password1 }}
        </div>
        <div class="mb-3">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
        <div class="mb-3">
            {{ form.role.label_tag }} {{ form.role }}
        </div>
        <div class="mb-3">
            {{ form.is_staff.label_tag }} {{ form.is_staff }}
        </div>
        <div class="mb-3">
            {{ form.is_active.label_tag }} {{ form.is_active }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    function toggleFields() {
        var role = document.querySelector('select[name="role"]').value;
        var genderField = document.getElementById('gender-field');
        var specializationField = document.getElementById('specialization-field');

        if (role === 'Patient') {
            genderField.style.display = 'block';
            specializationField.style.display = 'none';
        } else if (role === 'Doctor') {
            genderField.style.display = 'none';
            specializationField.style.display = 'block';
        } else {
            genderField.style.display = 'none';
            specializationField.style.display = 'none';
        }
    }

    toggleFields();  // Initial call
    document.querySelector('select[name="role"]').addEventListener('change', toggleFields);
});
</script>
{% endblock %}
