{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Doctor Login</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="border p-4 shadow-sm rounded">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>

            <p class="mt-3 text-center"><a href="{% url 'login_patient' %}">Login as a Patient</a></p>
        </div>
    </div>
</div>
{% endblock %}

